config/dev.yml
config/private.yml
config/bind-9-bosh-lite.yml
config/bind-9-aws.yml
stemcells
dev_releases
.blobs
blobs
.dev_builds
.idea
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
backups/*
releases/**/*.tgz
